.jobs {
  background-color: #F8F3F1;
  padding: 100px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: #3C3B3D;
    margin-bottom: 90px;
    text-align: center;
  }
  &__tabs {
    margin-bottom: 80px;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
  }
  &__tab {
    background-color: #ffffff;
    padding: 10px 90px;
    box-shadow: inset 0 0 0 0 #124E3B;
    color: #000000;
    border-radius: 20px;
    transition: .2s;
    &.active {
      color: #ffffff;
      box-shadow: inset 0 0 300px #124E3B;
    }
  }
  .slider {
    position: relative;
    margin-bottom: 80px;
    display: none;
    &.active {
      display: block;
    }
    &__item {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      min-height: 320px;
      width: 280px;
      margin: 0 50px;
    }
    &__img_wrapper, &__inscription, &__price {
      display: inline-block;
      text-align: center;
    }
    &__img_wrapper {
      margin-bottom: 30px;
    }
    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__inscription {
      font-size: 16px;
      line-height: 16px;
      color: #757478;
      margin-bottom: 10px;
    }
    &__price {
      font-size: 36px;
      line-height: 36px;
      color: #3C3B3D;
      margin-bottom: 30px;
    }
    .slick-arrow {
      z-index: 0;
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
    }
    .slick-arrow.slick-prev {
      z-index: 1;
      left: 37%;
      background: url("../images/left_arrow.svg") no-repeat center center;
      background-size: cover;
      font-size: 0;
    }
    .slick-arrow.slick-next {
      right: 37%;
      background: url("../images/right_arrow.svg") no-repeat center center;
      background-size: cover;
      font-size: 0;
    }
  }
}

/*---1200px---*/

@media (max-width: 1200px) {
  .jobs {
    &__title {
      margin-bottom: 70px;
    }
    .slider {
      margin-bottom: 70px;
      .slick-arrow.slick-prev {
        left: 32%;
      }
      .slick-arrow.slick-next {
        right: 32%;
      }
    }
  }
}

/*------------*/

/*---910px---*/

@media (max-width: 910px) {
  .jobs {
    &__title {
      margin-bottom: 60px;
    }
    &__tabs {
      margin-bottom: 60px;
    }
    .slider {
      margin-bottom: 60px;
      .slick-arrow.slick-prev {
        left: 28%;
      }
      .slick-arrow.slick-next {
        right: 28%;
      }
    }
  }
}

/*------------*/

/*---768px---*/

@media (max-width: 768px) {
  .jobs {
    padding: 80px 0;
    &__title {
      margin-bottom: 40px;
    }
    &__tabs {
      margin-bottom: 40px;
    }
    &__tab {
      padding: 10px 70px;
    }
    .slider {
      margin-bottom: 40px;
      .slick-dots {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .slick-active {
          border: 2px solid #000000;
        }
        li {
          margin: 0 10px;
          width: 15px;
          height: 15px;
          background-color: #F2CDCE;
          border-radius: 50%;
        }
        button {
          font-size: 0;
        }
      }
    }
  }
}

/*------------*/

/*---568px---*/

@media (max-width: 568px) {
  .jobs {
    padding: 50px 0;
    &__tabs {
      width: 100%;
      flex-direction: column;
    }
    &__tab {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
  }
}

/*------------*/
